.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('/main-back.jpg');
}

.content {
    margin: 80rem auto 0;
    display: flex;
}

.buttonsContainer {
    display: flex;
    gap: 40rem;

    @media (max-width: 1150px) {
        flex-wrap: wrap;
        & > * {
            flex: 1;
        }
    }
}
.exit,
.retry {
    width: 32rem;
    height: 32rem;
}

.onboarding {
    max-width: 820rem;
    display: flex;
    flex-direction: column;
    padding: 32rem 32rem 40rem;
    gap: 12rem;
    background-color: var(--back-color);
    border: 1px solid var(--accent1-border-color);
    margin-bottom: 64rem;
}

.name {
    color: var(--accent1-color);
    font-weight: 500;
}

.character {
    margin-top: 50rem;
    margin-left: 40rem;
}

.stats {
    display: flex;
    gap: 64rem;
}

.score {
    font-size: 24rem;
    margin-bottom: 64rem;
}

.scoreNumber {
    font-weight: 700;
    color: var(--accent1-color);
}

.left {
    width: 100%;
}
