.root {
    z-index: 2;
    width: 100%;
    padding: 24rem 0;
    border-top: 8rem solid var(--accent1-border-color);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    font-size: 24rem;
}

.scoreNumber {
    font-weight: 700;
    color: var(--accent1-color);
}

.lives {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.live {
    width: 28rem;
    height: 28rem;
}

.exitBtn {
    padding: 0 !important;
    min-width: auto !important;

    &:hover {
        background: none !important;
    }
}

.exit {
    width: 32rem;
    height: 32rem;
}
