.root {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    min-width: 240rem;
    padding: 16rem 32rem;
    border: 1px solid var(--accent1-color);
    font-size: 24rem;
    font-weight: 500;
    background-color: var(--back-color);
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--back-lighter-color);
    }

    &.big {
        padding: 16rem 40rem;
        font-size: 48rem;
        line-height: 1;
        min-width: auto;
    }
}

.secondary {
    padding: 24rem 0;
    border: none;
    background-color: var(--back-lighter-color);

    &:hover {
        background-color: var(--accent1-border-color);
    }
}

.tertiary {
    border: none;
    padding: 24rem 0;
    background-color: transparent;
}
