.root {
    padding: 24rem 0;
    position: sticky;
    top: 0;
    background-color: var(--back-color);
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    width: 32rem;
    height: 32rem;
}

.logo {
    font-size: 16rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--accent1-color);
    cursor: default;
    @media (max-width: 1024px) {
        display: none;
    }
}

.score {
    padding: 8rem 12rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8rem;
    flex-shrink: 0;
    font-size: 16rem;
    font-weight: 500;
    font-family: var(--header-font);
    border: 2rem solid var(--accent1-color);
    background-color: var(--back-color);
    border-radius: 24rem;
    cursor: default;
    & > span {
        width: fit-content;
        white-space: nowrap;
    }
}
