.regions {
    display: flex;
    flex-direction: column;
    gap: 80rem;
    padding: 160rem 0 80rem;
}

.regionTitle {
    margin-bottom: 8rem;
}

.regionDescription {
    max-width: 760rem;
}

.levels {
    margin-top: 40rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 40rem;
}

.lockedNote {
    display: block;
    background: var(--back-lighter-color);
    color: white;
    margin: 16rem 0;
    padding: 24rem 16rem;
}
