.title {
    font-size: 48rem;
    font-weight: 900;
    font-family: var(--header-font);
    white-space: nowrap;
    margin-bottom: 32rem;

    @media (max-width: 1024px) {
        font-size: 32rem;
    }
    @media (max-width: 480px) {
        font-size: 24rem;
    }
}

.regions {
    display: flex;
    flex-direction: column;
    gap: 80rem;
}

.regionTitle {
    margin-bottom: 8rem;
}

.regionDescription {
    max-width: 760rem;
}

.levels {
    margin-top: 24rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16rem;
}

.lockedNote {
    display: block;
    background: black;
    color: white;
    margin: 16rem 0;
    padding: 12rem;
}
