.root {
    border: 1px solid var(--accent1-border-color);
    min-height: 500rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 1px;
    background-clip: content-box;
}

.title {
    padding: 24rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    background-color: var(--back-lighter-color);
}

.titleText {
    font-size: 24rem;
    font-weight: 400;
}

.line {
    flex: 1;
    height: 4rem;
    background-color: var(--accent1-color);
}

.boss {
    grid-column: 1 / -1;
    min-height: 790rem;

    @media (max-width: 650px) {
        min-height: 500rem;
        background-position-x: 60%;
    }
}

.blockedContainer {
    text-align: center;
    font-size: 24rem;
    font-weight: 500;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 8rem;
}

.levelScoreContainer {
    margin: 0 auto;
    background-color: var(--back-lighter-color);
    width: 240rem;
    min-height: 240rem;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.levelScore {
    margin: auto 0;
    font-size: 48rem;
    font-weight: 700;
    color: var(--accent1-color);
}

.progress {
    height: 24rem;
    background-color: var(--accent1-color);
    margin-right: auto;
}

.accuracy {
    font-size: 16rem;
}

.accuracyPercent {
    color: var(--accent1-color);
}
