.root {
    padding: 24rem 0;
    position: sticky;
    top: 0;
    z-index: 2;
    border-top: 8rem solid var(--accent1-border-color);
}

.container {
    display: flex;
    justify-content: space-between;

    &.center {
        justify-content: center;
    }
}

.score {
    font-size: 24rem;
}

.scoreNumber {
    font-weight: 700;
    color: var(--accent1-color);
}
