@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --text-color: #d6ceea;
    --back-color: #080116;
    --back-lighter-color: #190d33;
    --accent1-color: #7e42ff;
    --accent1-border-color: rgba(46, 23, 92, 80%);
    --accent2-color: #85f91e;
    --regular-font: 'Poppins', sans-serif;
}
