.root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    color: var(--text-color);
    pointer-events: none;
    font-size: clamp(18rem, 0.75rem + 2vw, 48rem);
    font-weight: 500;
    text-shadow: 0.1em 0.1em 0.2em var(--back-color);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(80rem, 10vw, 120rem);
    font-weight: 400;
}

.points {
    font-size: clamp(22rem, 5vw, 56rem);
}

.fadeInOut {
    opacity: 0;
    animation: fadeInOut 1.5s ease-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
