.root {
    position: fixed;
    top: 64rem;
    left: 64rem;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    font-size: 48rem;
    color: white;
}

.fadeInOut {
    opacity: 0;
    animation: fadeInOut 1s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
